.formLogin {
 display: flex;
 flex-direction: column;
 gap: 1rem;
 align-items: center;
}

input {
  background-color: rgb(218, 184, 184);
  color: black;
  text-align: center;
  height: 50px;
  border: none;
  border-radius: 5px;
}

.buttonLogin {
  height: 60px;
  width: 120px;
  background-color: rgb(231, 220, 220);
  font-size: 20px;

}

.pError {
  color: red;
}



.divRegistro {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.divLogeado {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.buttonLogout {
  width: 120px;
  height: 50px;
  background-color: rgb(255, 196, 251);
}

.divRegistroLogin {
  display: flex;
  flex-wrap: wrap;
}

.sectionLogin{
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.divError {
  display: flex;
  flex-wrap: wrap;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.sectionRegisterLogin {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 8px;
justify-content: center;
align-items: center;

}

.pRegistroEnlace {
  cursor: pointer;
}

.sectionRegisterLogin > p {
  font-size: 17px;
}